// 本區只放要自動import至全局的變數(已經在vite.config.ts設定好)
// 可以直接在component中透過lang="scss"使用變數

// 覆蓋element plus預設樣式
:root {
  --el-color-primary: #a5c2f8;
  --el-color-primary-light-3: #5b92f8;
  --el-color-primary-light-5: #c7dafc;
  --el-color-primary-light-7: #97bcff;
  --el-color-primary-light-9: #f9fbff;
  --el-color-success: #72eba7;
  --el-color-success-light-3: #0acb5e;
  --el-color-success-light-5: #9af3c0;
  --el-color-success-light-9: #effff6;
  --el-color-warning: #f9d76f;
  --el-color-warning-light-3: #ffbf00;
  --el-color-warning-light-5: #fbe5a2;
  --el-color-warning-light-9: #fffcf2;
  --el-color-danger: #fcafeb;
  --el-color-danger-light-3: #ff7ae2;
  --el-color-danger-light-5: #ffd3f5;
  --el-color-danger-light-9: #fff3fc;
  --el-color-info: #cbcbcb;
  --el-color-info-light-3: #646464;
  --el-color-info-light-5: #e1e1e1;
  --el-color-info-light-9: #f3f3f3;
}

// 顏色設定
$main-color: #95b4ef;
$light-color: #ccfcff;
$text-color: #5c7fa3;
$white-color: #fff;
$hr-color: #ddd;

// 字體設定
$font-family:
  "Quicksand", "Open Huninn", "Gen Jyuu Gothic", "Microsoft JhengHei",
  sans-serif;
$font-weight: 500;
$font-weight-bold: 700;
// 文字大小
$font-size-h1: 32px;
$font-size-h2: 24px;
$font-size-h3: 18px;
$font-size-h4: 16px;
$font-size-h5: 14px;
$font-size-h6: 12px;
// 文字間距
$lg-spacing: 4px;
$md-spacing: 2px;
$sm-spacing: 1px;

// 邊框設定
$border-radius: 24px;

// 按鈕設定
$login-button-height: 52px;

// 動畫設定
$transition-hover: 0.3s;
$transition-elastic: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);

// 布局設定
$header-height: 60px;
$footer-height: 32px;
$nav-width: 200px;
$inner-padding: 24px;
