// 載入外部資源
@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500;700&family=Noto+Sans+TC:wght@500;700&display=swap");
// 載入內部變數
@import "./_variables.scss";
@import "./_mixins.scss";
// 載入基礎設定
@import "./_base.scss";
// 載入特殊風格
@import "./_glass-style.scss";

#logo {
  font-size: 20px;
  font-style: italic;
  color: #aaa;
  cursor: pointer;
  transition: $transition-hover;
  &:hover {
    color: $main-color;
  }
}
